@import "@/sass/main";

.container {
    margin: 15rem 1rem;
    padding-bottom: 10rem;

    border-bottom: 1px solid $color-primary;
    .education-main-heading {
        margin-top: 2.5rem;
        // margin-bottom: 2rem;
        text-align: center;
        font-size: 3rem;
        color: $color-lighter;
    }

    .heading-highlight {
        font-family: $font-secondary;
        // color: $color-primary;
        text-shadow: 0 0 2.5px rgba($color-primary, 0.5);

        color: $color-primary;
        font-size: 5rem;
        margin-right: 2rem;
    }

    .education-icon-container {
        position: relative;
        @include flex(0);

        .education-icon {
            font-size: 7.5rem;
            display: flex;
            padding: 1rem;
            @include border-radius(50%);
            color: $color-primary;
            outline: rgba($color-primary, 0.25) solid 10px;
        }
    }

    .edu-list {
        display: flex;
        justify-content: center;
        margin-top: 7.5rem;
        @include flex(5rem, center, stretch);
        flex-wrap: wrap;

        .edu-container {
            background: $background-color-1;
            box-shadow: $shadow-1;
            width: 32.5rem;
            padding: 3rem;
            @include border-radius(7.5px);
            @include transition(background 0.25s ease-in-out);

            &:hover {
                background: $background-color-2;
                @include border-radius(25px);
                @include filter(contrast(1.05));
            }

            .edu-heading {
                font-family: $font-secondary;
                font-size: 1.75rem;
                color: $color-primary;
                font-weight: 700;
                text-transform: uppercase;
            }
            .edu-degree {
                margin-top: 1rem;
                font-size: 1.5rem;
                font-weight: 500;
                @include flex(0.5rem, flex-start, center);

                &__short {
                    color: $color-primary;
                    font-size: 1.6rem;
                    font-weight: 600;
                }

                &__long {
                    font-weight: 300;
                    color: $color-lighter;
                }
            }

            .edu-info {
                font-size: 1.5rem;
                margin-top: 1rem;
                @include flex(1rem, flex-start, stretch);

                &__icon {
                    font-size: 1.75rem;
                    color: $color-primary;
                    display: flex;
                }
                &__text {
                    font-weight: 400;
                    color: $color-lighter;
                    align-self: end;
                }
            }
        }
    }
}
