@import "@/sass/main";

.container {
    margin: 10rem 1rem;
    border-bottom: 1px solid $color-primary;
    padding-bottom: 10rem;

    .main-logo-img-container {
        margin-bottom: 5rem;
        @include flex(0);
        .main-logo-img {
            max-width: 40rem;
            height: auto;
            box-shadow: $shadow-2;
            padding: 0.5rem;
            background: $background-color-1;
            @include border-radius(10px);

            @media (max-width: 480px) {
                max-width: 30rem;
                box-shadow: none;
                background: none;
            }
        }
    }

    .main-heading {
        margin-top: 2.5rem;
        text-align: center;
        font-size: 3rem;
        color: $color-lighter;
    }

    .heading-highlight {
        font-family: $font-secondary;
        text-shadow: 0 0 2.5px rgba($color-primary, 0.5);

        color: $color-primary;
        font-size: 5rem;
        margin-right: 2rem;
    }

    .resume-btn {
        cursor: pointer;
        margin-top: 1rem;
        font-size: 2.25rem;
        font-weight: 600;
        padding: 1.75rem 5rem;
        color: $color-primary;
        font-family: $font-secondary;
        box-shadow: $shadow-1;
        background: $background-color-1;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        @include border-radius(5px);
        @include transition(transform 0.25s ease-in-out);

        &:hover {
            background: $background-color-2;
            @include transform(translateY(-5px) scale(1.01));
        }
    }
}

.projects-list {
    margin-top: 10rem;
    @include flex(5rem, center, stretch);
    flex-wrap: wrap;
}
.modal-project {
    background: $background-color-2;
    border: 2px solid var(--section-color);
    @include border-radius(5px);
    padding: 2rem 1rem;
    max-width: 90vw;
    color: $color-lightest;
    font-size: 1.5rem;
    &-content {
        padding-inline: 1rem;
        max-height: 75vh;
        overflow-y: scroll;
    }
    &-name {
        color: $background-color-2;
        text-transform: uppercase;
        background: unset;
        font-size: 3rem;
        text-align: center;
        position: relative;
        z-index: 1000;
        margin-bottom: 1rem;
        margin-inline: 1rem;
        padding-inline: 1rem;
        &::after {
            @include border-radius(5px);
            position: absolute;
            @include centerPosition();
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            background-color: var(--section-color);
            z-index: -1;
            @include animation(underline 1s ease-out);
        }
    }

    &-tech-heading,
    &-topic-heading {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--section-color);
    }

    &-topic-list {
        padding: 0.5rem 1rem;
        max-height: 50vh;
        overflow-x: scroll;
        list-style: none;
        column-gap: 2rem;
        column-count: 2;
        column-rule: 1px solid var(--section-color);

        @media (max-width: 768px) {
            column-count: 2;
            font-size: 1.25rem;
        }
        &__item {
            margin-bottom: 0.5rem;
        }
    }

    &-tech-list {
        font-size: 1.1rem;
        text-transform: uppercase;
        list-style: none;
        font-weight: 600;
        margin-bottom: 1rem;
        @include flex(1rem);
        flex-wrap: wrap;
        &__item {
            @include flex(0);
            background: var(--section-color);
            padding: 0.25rem 0.5rem;
            color: #fff;
            color: #000;
            @include border-radius(5px);
        }
    }
    .modal-link {
        @include flex(1rem);
        &__item {
            background: $background-color-2;
            box-shadow: $shadow-1;
            @include border-radius(5px);
            padding: 0.5rem;
            height: auto;
            color: $color-lighter;
            color: var(--section-color);
            font-size: 2.5rem;
            @include flex(0);
            margin: 1rem 0;
        }
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #212428;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        background: var(--section-color);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #aaa;
    }
    @media (max-width: 768px) {
        min-width: 90vw;
    }
    @keyframes underline {
        0% {
            width: 0;
            height: 2px;
        }
        25% {
            width: 5%;
        }
        75% {
            width: 100%;
            height: 2px;
        }
        100% {
            height: 100%;
        }
    }
}
