@import "@/sass/main";

.container {
    margin: 10rem 1rem;
    border-bottom: 1px solid $color-primary;
    padding-bottom: 10rem;

    .main-logo-img-container {
        margin-bottom: 5rem;
        @include flex(0);
        .main-logo-img {
            max-width: 40rem;
            height: auto;
            box-shadow: $shadow-2;
            padding: 0.5rem;
            background: $background-color-1;
            @include border-radius(10px);

            @media (max-width: 480px) {
                max-width: 30rem;
                box-shadow: none;
                background: none;
            }
        }
    }

    .main-heading {
        margin-top: 2.5rem;
        // margin-bottom: 2rem;
        text-align: center;
        font-size: 3rem;
        color: $color-lighter;
    }

    .heading-highlight {
        font-family: $font-secondary;
        // color: $color-primary;
        text-shadow: 0 0 2.5px rgba($color-primary, 0.5);

        color: $color-primary;
        font-size: 5rem;
        margin-right: 2rem;
    }
}

.projects-list {
    margin-top: 10rem;
    @include flex(5rem, center, stretch);
    flex-wrap: wrap;
}
.modal-project {
    background: rgba($background-color-2, 0.75);
    // backdrop-filter: blur(10px);
    // box-shadow: $shadow-1;
    border: 2px solid var(--section-color);
    @include border-radius(7.5px);
    padding: 2.5rem;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    color: $color-lightest;
    font-size: 1.5rem;
    &-name {
        text-transform: uppercase;
        // color: var(--section-color);
        // color: $color-lighter;
        background: unset;
        // color: #fff;
        font-size: 3rem;
        text-align: center;
        position: relative;
        z-index: 1000;
        margin-bottom: 1rem;
        padding-inline: 1rem;
        &::after {
            @include border-radius(7.5px);
            position: absolute;
            @include centerPosition();
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            background-color: var(--section-color);
            z-index: -1;
            @include animation(underline 1s ease-out);
        }
        // background-color: var(--section-color);
    }

    &-topic-list {
        list-style: none;
        columns: 2;

        &__item {
        }
    }

    .modal-link {
        @include flex(1rem);
        &__item {
            background: $background-color-1;
            box-shadow: $shadow-1;
            @include border-radius(5px);
            padding: 0.5rem;
            height: auto;
            color: $color-lighter;
            font-size: 2.5rem;
            @include flex(0);
            margin: 1rem 0;
        }
    }
}

@keyframes underline {
    0% {
        width: 0;
        // height: 0;
        height: 2.5px;
    }
    25% {
        width: 5%;
    }
    75% {
        width: 100%;
        height: 2.5px;
    }
    100% {
        height: 100%;
    }
}
