@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
    transform: $transform;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin flex($gap, $justify: center, $align: center, $direction: row) {
    display: flex;
    gap: $gap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin centerPosition($position: absolute) {
    position: $position;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

@mixin filter($filter) {
    -webkit-filter: $filter;
    -moz-filter: $filter;
    -ms-filter: $filter;
    -o-filter: $filter;
    filter: $filter;
}
