@import "@/sass/base";
@import "@/sass/variables";
@import "@/sass/mixins";

body {
    background: $background-color-2;
    position: relative;
    // padding: 1rem;
    padding-top: 2.5rem;
    font-family: $font-primary;
    // overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

main {
    // padding: 5;
    padding-inline: 5rem;
    padding-bottom: 5rem;
    margin-top: 5rem;
    // overflow: hidden;
    overflow-x: hidden;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    z-index: 1000000;
    background: $color-primary;
    transform-origin: 0%;
}
h1 {
    color: aliceblue;
}

#scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    color: $color-primary;
    font-size: 4rem;
    background: $background-color-1;
    box-shadow: $shadow-1;
    display: flex;
    @include border-radius(50%);
    padding: 1rem;
    border: 2px solid $background-color-2;
    cursor: pointer;

    @include transition(box-shadow 0.25s ease-in-out);
    &:hover {
        box-shadow: 0 0 25px 25px rgba($color: $color-primary, $alpha: 0.025);
    }
}

@media (max-width: 480px) {
    main {
        padding-inline: 5rem;
    }
}

footer h2 {
    font-family: $font-secondary;
    font-weight: 600;
    color: $color-primary;
    text-align: center;
    padding: 2rem 5rem;
    margin-bottom: 10rem;
    font-size: 2rem;
    margin-inline: 2rem;
    // background-color: rgba($background-color-2, 0.7);
    // border: 1px solid rgba(255, 255, 255, 0.1);
    @include border-radius(5px);
    box-shadow: $shadow-1;
    @include flex(2rem, center, center);

    span {
        font-size: 5rem;
        display: flex;
        &:last-child {
            color: #c69;
        }
    }
}
