@import "@/sass/main";

.container {
    margin-bottom: 10rem;
}

.contact-main-heading {
    // margin-top: rem;
    font-size: 3rem;
    color: $color-lighter;
    text-align: center;
}

.contact-heading-highlight {
    text-align: center;
    font-family: $font-secondary;
    text-shadow: 0 0 2.5px rgba($color-primary, 0.5);

    color: $color-primary;
    font-size: 5rem;
    margin-right: 2rem;
}

.contact-form {
    @include flex(5rem, center, stretch, column);
    @include border-radius(5px);
    margin: 2.5rem auto;
    max-width: 50rem;
    padding: 5rem;
    background: $background-color-1;
    box-shadow: $shadow-1;

    @include transition(border-color 0.25s ease-in-out);
}

.form-row {
    @include flex(1rem, center, stretch, column);
    font-size: 1.75rem;

    label {
        color: $color-lighter;
        font-weight: 500;
    }

    input,
    textarea {
        font-family: $font-primary;

        border: none;
        border-bottom: 2px solid transparent;
        @include border-radius(5px);
        background: $background-color-2;
        box-shadow: $shadow-2;
        @include transition(all 0.1s);
        color: #ddd;
        font-size: 2rem;
        padding: 1rem 1.25rem;

        &:focus,
        &:active,
        &:focus-visible,
        &:focus-within {
            color: #ddd;
            border: none;
            outline: none;
            // outline: solid 1.5px $color-primary;
            border-bottom: 2px solid $color-primary;
        }
    }

    & > div {
        @include flex(1rem, center, center);
        .submit-btn {
            cursor: pointer;
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 600;
            padding: 1.5rem 5rem;
            color: $color-primary;
            font-family: $font-secondary;
            box-shadow: $shadow-1;
            background: $background-color-1;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            @include border-radius(5px);
            @include transition(transform 0.25s ease-in-out);

            &:hover {
                background: $background-color-2;
                @include transform(translateY(-5px) scale(1.01));
            }
            &:disabled {
                cursor: not-allowed;
            }
        }
    }
}
