*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
    /* -webkit-touch-callout: none; */
    /* -webkit-user-select: none; */
    /* -khtml-user-select: none; */
    /* -moz-user-select: none; */
    /* -ms-user-select: none; */
    /* user-select: none; */
}

h1 {
    color: aliceblue;
}
@media (max-width: 480px) {
    html {
        font-size: 55%;
    }
}
a {
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #212428;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: #777;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}
