@import "@/sass/main";

.container {
    margin: 10rem 1rem;

    .education-main-heading {
        margin-top: 2.5rem;
        // margin-bottom: 2rem;
        text-align: center;
        font-size: 3rem;
        color: $color-lighter;
    }

    .heading-highlight {
        font-family: $font-secondary;
        // color: $color-primary;
        text-shadow: 0 0 2.5px rgba($color-primary, 0.5);

        color: $color-primary;
        font-size: 5rem;
        margin-right: 2rem;
    }

    .education-icon-container {
        position: relative;
        @include flex(0);

        .education-icon {
            font-size: 7.5rem;
            background: rgba($color-subtitle, 0.75);
            display: flex;
            padding: 1rem;
            @include border-radius(50%);
            color: $color-lighter;
            outline: rgba($color-primary, 0.25) solid 10px;
        }
    }
}
