@import "@/sass/main";

.main-outer-container {
    display: flex;
    margin-bottom: 10rem;
    padding-bottom: 10rem;
    border-bottom: 1px solid $color-primary;
}

.animation-container {
    @include flex(0, center, center, column);

    max-width: 35rem;

    @media (max-width: 900px) {
        max-width: 30rem;
        align-self: center;
    }
    @media (max-width: 768px) {
        max-width: 20rem;
    }
    @media (max-width: 600px) {
        display: none;
    }
}

.container {
    flex: 1;
    font-size: 5rem;
    color: #fff;
    font-weight: 500;

    &-welcome {
        font-size: 1.75rem;
        color: $color-midgray;
        margin-bottom: 2rem;
        font-weight: 600;
        font-family: $font-secondary;
        text-transform: uppercase;
    }
    .name {
        color: $color-primary;
        font-weight: 700;
    }

    .intro-text {
        font-weight: 600;
        line-height: 1.25;
        &-secondary {
            @media (max-width: 768px) {
                font-size: 4.5rem;
            }
            @media (max-width: 480px) {
                font-size: 3.5rem;
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
        }
    }

    .resume-btn {
        cursor: pointer;
        margin-top: 1rem;
        font-size: 2.25rem;
        font-weight: 600;
        padding: 1.75rem 5rem;
        color: $color-primary;
        font-family: $font-secondary;
        box-shadow: $shadow-1;
        background: $background-color-1;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        @include border-radius(5px);
        @include transition(transform 0.25s ease-in-out);

        &:hover {
            background: $background-color-2;
            @include transform(translateY(-5px) scale(1.01));
        }
    }
    @media (max-width: 480px) {
        margin-inline: 2.5rem;
    }
}

.social-icons {
    &__container {
        @include flex(2rem, flex-start, center);
        // gap: 2rem;
        margin: 2.5rem auto 5rem auto;
        margin-left: 5rem;
    }
    &__item {
        font-size: 3rem;
        color: $color-primary;
        // color: #000;
        background-color: $background-color-1;
        // background-color: $color-primary;
        box-shadow: $shadow-1;
        // box-shadow: -5px 5px 50px -12.5px $color-primary;
        cursor: pointer;
        padding: 0.75rem;
        @include border-radius(5px);
        // @include transition(all 0.5s ease-in-out);
        @include flex(0, center, center);

        &:hover {
            box-shadow: $shadow-2;
        }
    }
    @media (max-width: 48em) {
        &__container {
            margin-left: auto;
            font-size: 4rem;
            @include flex(2.5rem, center, center);
        }
    }
}
