@import "@/sass/main";

.skills-main-container {
    border-bottom: 1px solid $color-primary;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
    .skills-main-heading {
        margin-top: 10rem;
        text-align: center;
        font-size: 3rem;
        color: $color-lighter;
    }

    .heading-highlight {
        font-family: $font-secondary;
        text-shadow: 0 0 2.5px rgba($color-primary, 0.5);

        color: $color-primary;
        font-size: 5rem;
        margin-right: 2rem;
    }

    .skills {
        .skills-heading {
            font-size: 2.25rem;
            margin-bottom: 2rem;
            font-weight: 600;
            color: $color-lighter;
            text-align: center;
            margin: 3rem auto 2rem auto;

            text-transform: uppercase;
        }

        .skills-list {
            margin-inline: auto;
            max-width: 500px;
            display: flex;
            flex-wrap: wrap;
            @include flex(2.5rem, center, stretch);
            .skill {
                background: $background-color-1;
                box-shadow: $shadow-1;
                padding: 1.25rem 1.5rem;
                @include border-radius(5px);
                @include flex(1rem, center, center, column);
                position: relative;
                @include transition(box-shadow 0.5s ease-in-out);
                &__logo {
                    width: 4rem;
                    height: auto;
                }

                &__logo--mod {
                    @include transform(scale(1.25));
                }

                &__logo--mod2 {
                    filter: invert(1) grayscale(1) contrast(9);
                    -webkit-filter: invert(1) grayscale(1) contrast(9);
                }
                &__logo--mod3 {
                    @include transform(scale(1.5));
                }
                &__logo--mod4 {
                    @include transform(scale(2));
                }
                &:hover {
                    box-shadow: $shadow-2;
                    transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                }
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
            }
        }
    }
}
