@import "@/sass/main";
@import "@/components/Education/EducationSection.module.scss";

.container {
    margin: 10rem 1rem;
    margin-bottom: 15rem;

    .experience-main-heading {
        margin-top: 2.5rem;
        // margin-bottom: 2rem;
        text-align: center;
        font-size: 3rem;
        color: $color-lighter;
    }

    .heading-highlight {
        font-family: $font-secondary;
        // color: $color-primary;
        text-shadow: 0 0 2.5px rgba($color-primary, 0.5);

        color: $color-primary;
        font-size: 5rem;
        margin-right: 2rem;
    }

    .experience-icon-container {
        position: relative;
        @include flex(0);

        .experience-icon {
            font-size: 7.5rem;
            // background-color: rgba($color-primary, 0.75);
            // background-color: $color-primary;
            display: flex;
            padding: 1rem;
            @include border-radius(50%);
            color: $color-primary;
            // outline: rgba($color-primary, 0.25) solid 10px;
        }
    }

    .exp-degree {
        margin-top: 0.5rem;
        @include flex(0.25rem, center, flex-start, column);

        &__short {
            font-size: 1.6rem;

            font-weight: 500;
            color: $color-lighter;
        }
        &__long {
            font-size: 1.5rem;
            color: $color-primary;
        }
    }
    .tech-list {
        margin-top: 1.5rem;
        @include flex(0.5rem, flex-start, flex-start);
        flex-wrap: wrap;
        &__item {
            background: $background-color-2;
            // background-color: rgba($color-primary, 0.95);
            box-shadow: $shadow-2;
            padding: 0.25rem 0.75rem;
            // margin: 0.5rem;
            @include border-radius(5px);
            // border: 1px solid $color-primary;
            font-size: 1.2rem;
            color: $color-lighter;
            font-weight: 400;
        }
    }
}
